<div class="mercury-images-panel">
  <div class="filter">
    <input class="filter" type="search">
  </div>
  <ul>
    <% @images.each do |i| %>
    <li class="group" data-filter="<%= i.image_file_name.parameterize %>">
      <img data-snippet="image" alt="<%= i.image_file_name %>" src="<%= i.image_url(:thumb) %>"/>
      <span class="name"><%= i.image_file_name %></span><br>
      <span class="res"><%= i.width %>x<%= i.height %></span>
    </li>
    <% end %>
  </ul>
</div>
