<% # render :partial => "admin/page_layouts/#{@page.layout}", :locals => {areas: @page.areas} %>

<div class="container">
  <section id="<%= @page.slug %>">
    <div class="row">
      <header class="twelve columns">
        <h1 id="title" class="mercury-region" data-type="simple"><%= @page.title %></h1>
      </header>
    </div>
    <div class="row">
      <% @page.sorted_areas.each_with_index do |a, i| %>
      <div class="<%= "#{a.label} #{a.width}" %> columns">
        <div id="<%= a.id %>" class="mercury-region" data-type="editable" data-position="<%= i %>" data-width="<%= a.width %>" data-label="<%= a.label %>">
          <%= raw a.body %>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>