<div class="container">
  <section id="<%= @page.slug %>">
    <div class="row">
      <header class="twelve columns">
        <h1 id="title" class="mercury-region" data-type="simple"><%= @page.title %></h1>
      </header>
    </div>
    <% if @page.regions.any? %>
    <div id="regions" class="row">
      <% @page.sorted_regions.each_with_index do |r, i| %>
      <div class="<%= "#{r.label} #{r.width}" %> columns">
        <div id="<%= r.id %>" class="mercury-region" data-type="editable" data-position="<%= i %>" data-width="<%= r.width %>" data-label="<%= r.label %>">
          <%= raw r.body %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
    

      <div id="region_template" class="two columns" style="display:none">
        <div id="0" class="new-region" data-label="new_region" data-type="editable" data-position="3" data-width="two">
          <p>Replace this text</p>
        </div>
      </div>
    
  </section>
</div>