<div class="container">
  <section id="<%= @page.slug %>">
    <div class="row">
      <header class="twelve columns">
        <h1 id="title" class="mercury-region" data-type="simple"><%= @page.title %></h1>
      </header>
    </div>
    <% if @page.regions.any? %>
    <div class="row">
      <% @page.sorted_regions.each_with_index do |r, i| %>
      <div class="<%= "#{r.label} #{r.width}" %> columns">
        <div id="<%= r.id %>" class="mercury-region" data-type="editable" data-position="<%= i %>" data-width="<%= r.width %>" data-label="<%= r.label %>">
          <%= raw r.body %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </section>
</div>