<% 
h = {
    "1"=>"one", "2"=>"two", "3"=>"three", "4"=>"four", "5"=>"five", 
    "6"=>"six", "7"=>"seven", "8"=>"eight", "9"=>"nine", "10"=>"ten", 
    "11"=>"eleven", "12"=>"tweleve"
    }.invert
    
opts = h.values
%>
<div class="mercury-regions-panel">
  
  <div class="region_controls_template" style="display:none">
    <div class="field">
      <label>Label</label>
      <%= text_field_tag "regions[label]", nil, :class => 'label_control' %>
    </div>
    <div class="field">
      <label>Width</label>
      <%= select_tag "regions[width]", options_for_select(opts), :id => nil, :class => 'width_control' %>
    </div>
    <div class="field">
      <label>Position</label>
      <%= select_tag "regions[position]", options_for_select([1, 2, 3]), :id => nil, :class => 'position_control' %>
    </div>
    <div class="button">
      <%= button_tag "Delete this region", :class => 'delete_region' %>
    </div>
  </div>
  
  <form>
    
  </form>
  <div id="add_region">
    <%= button_tag "Add Region"%>
  </div>


</div>

<% if false %>


<% end %>